name: Go

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

jobs:

  test:
    runs-on: ${{ matrix.os }}

    services:
      postgres:
        image: postgres:17    
        env:
          POSTGRES_USER: root
          POSTGRES_PASSWORD: root
          POSTGRES_DB: root
#          DB_HOST: localhost
#          DB_USER: root
#          DB_PASSWORD: root
#          DB_NAME: root
#          DB_PORT: 5432:5432
        ports:
          - 5432:5432
    
    strategy:
      matrix:
        go_version: ['1.18', '1.17', '>=1.18']
        os: ['ubuntu-latest', 'ubuntu-18.04']
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: ${{ matrix.go_version }}
      
#    - name: Build-DB
#      run: docker compose build
#      
#    - name: Create-DB
#      run: docker compose up -d
#
    - name: Test
      run: go test -v main_test.go 
      env:
        DB_HOST: postgres
        DB_USER: root
        DB_PASSWORD: root
        DB_NAME: root
        DB_PORT: "5432"
      
  
  build:
    needs: test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ['ubuntu-latest', 'ubuntu-18.04']
    steps:
    - uses: actions/checkout@v3
    - name: Build
      run: go build -v main.go
